* {
	box-sizing: border-box;
}
.container {
	margin: 0 10px;
}
header {
	text-align: center;
	font-family: 'Balsamiq Sans', cursive;
}
.menu-tiles {
	border: 2px solid #000000;
}
.row {
}
.menu-tiles > p {
	padding: 10px;
	line-height: 1.5;
	font-family: 'Balsamiq Sans', cursive;
	font-weight: 400;
}
.menu-tiles > h2 {
	position: relative;
	width: 40%;
	border: 1px solid #000000;
	text-align: center;
	left: 60%;
	margin: 0;
	color: #ffffff;
	font-family: 'Balsamiq Sans', cursive;
}
#sushi-menu {
	/* margin-right: 0;
	margin-left: 3.3333%; */
}
#chicken-menu > h2 {
	background-color: #e76f51;
}
#beef-menu > h2 {
	background-color: #264653;
}
#sushi-menu > h2 {
	background-color: #2a9d8f;
}

/* Large devices above 991px */
@media (min-width: 992px) {
	.col-lg-4 {
	width: 30%;
	float: left;
	}
	#chicken-menu {
	margin-right: 5%;
	}
	#beef-menu {
	margin-right: 5%;
	}
}

/* Medium (Tablet) devices 768px and 991px */
@media (min-width: 768px) and (max-width: 991px) {
	.col-md-6 {
	width: 49%;
	float: left;
	margin-bottom: 2%;
	}
	#chicken-menu {
	margin-right: 2%;
	}
	#sushi-menu {
		width: 100%;
	}
	
}

/* Small devices <= 767px */
@media (max-width: 767px) {
	.col-sm-12 {
	width: 100%;
	float: left;
	margin-bottom: 2%;
	}
}
